:root{
    --ff: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

/*Section 1*/

#hero{
    background-image: linear-gradient(to right, rgba(3, 23, 47, 0.7), rgba(0, 0, 0, 0.1)),url('backg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#nav_container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px white solid;
    height: 100px;
    align-items: center;
}
#logo{
    position: relative;
    left: -80px;
    cursor: pointer;
}
ul{
    width: 100%;
    max-width: 50vw;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    list-style: none;
    color: white;
    margin: 20px;
    font-size: 18px;
    font-family:var(--ff) ;
    cursor: pointer;
}
li:hover{
    color: cornflowerblue;
}

#hero-container{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: 30px;
    height: 572px;
}
#text_h{
font-size: 70px;
font-family: var(--ff);
animation: 1.5s fade ease-in-out 0s 1 alternate;
}

.btn{
    width: 160px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#gs{
    background-color: #3f86f9;
    animation: 3s fade ease-in-out 0s 1 alternate;
}
#lm{
    background-color: rgba(255, 255, 255, 0);
    border: 1px white solid;
    margin-left: 5px;
    animation: 3.5s fade ease-in-out 0s 1 alternate;
}
#gs:hover{
background-color: black;
}
#lm:hover{
    background-color: #3f86f9;
    border: none;
}
#para-1{
    animation: 2.5s fade ease-in-out 0s 1 alternate;
}
#btn3:hover{
 background-color: black !important;
}


/*Section 2*/

#txt-div-1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}


#pabout{
 display: flex;
 justify-content: space-evenly;
 margin-top: 50px;
 flex-wrap: wrap;
}

#photos{
    margin-top: 50px;
    width: 700px;
    display: flex;
}

#txt-div-2{
    width: 480px;
}

#afp::before{
    display: inline-block;
    content: "";
    border-bottom: 3px solid #3f86f9;
    width: 4rem;
    transform: translateY(7px);
    position: relative;
    left: -8px;
}

/*Section 3*/

#txt-div-3{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
#card-cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 420px;
    height: 480px;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.867);
}

.card:hover{
    animation: 0.3s card ease-in-out 0s 1 forwards;
}







/*Responsive design*/

@media (min-width : 100px) {
    html{
        overflow-x: hidden;
        width: 100vw;
    }
}
@media (max-width : 645px) {
    #text_h{
        font-size: 37px;
    }
    #hero-container{
        margin-left: 24px;
    }
    #logo{
        left: -10px;
        width: 150px;
        height: auto;
    }
    #para-1 {
        height: 220px;
        font-size: 18px !important;
        line-height: 27px !important;
        width: 80vw !important;
    }
    #lm{
        margin-top: 10px;
        margin-left: -0.1px !important;
    }
    .imgs{
        width: 53vw !important;
        height: auto !important;
    }
    #photos{
        position: relative !important;
        left: 15px !important;
    }
    #txt-div-2{
        margin-left: 15px;
        margin-top: 10px;
    }
    #afp{
        width: 90vw;
    }
    #p-3{
        width: 90vw !important;
    }
    .ps{
        width: 90vw !important;
    }
    #p-2{
        width: 70vw !important;
        font-size: 18px !important;
    }
    #h-2{
        width: 79vw !important;
        font-size: 25px !important;
    }
}
@media (max-width:810px) {
    #nav{
        display: none;
    }
    #fa{
        display:block !important;
        margin-right: 30px;
    }
    #nav_container{
        justify-content: space-between;
    }
    .card{
        margin-bottom: 20px;
        width: 94vw;
        height: 70vh;
    }
}

@media (max-width: 1150px) {
    #txt-div-2{
        margin-top: 20px;
    }
    #txt-div-3{
        width: 90vw;
        text-align: center;
    }
}

/*Animations*/
@keyframes fadee {
    0%{

            opacity: 0%;
            position: relative;
            top: 500px;
    }

    100%{
            opacity: 100%;
            position: relative;
            top: 0px;
    }
}

@keyframes card{
    0%{
        scale: 1;
        position: relative;
        bottom: 0px;
    }

    100%{
        scale: 1.02;
        /* box-shadow: 4px 4px 5px rgb(201, 199, 199); */
        box-shadow: 0px 0px 10px 10px rgb(240, 240, 240);
        position: relative;
        bottom: 10px;
    }
}