*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

#hero{
    background-image: linear-gradient(to right, rgba(3, 23, 47, 0.7), rgba(0, 0, 0, 0.1)),url('backg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#nav_container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px white solid;
    height: 100px;
    align-items: center;
}
#logo{
    position: relative;
    left: -80px;
    cursor: pointer;
}
ul{
    width: 100%;
    max-width: 50vw;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    list-style: none;
    color: white;
    margin: 20px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
    cursor: pointer;
}
li:hover{
    color: cornflowerblue;
}

#hero-container{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: 30px;
    height: 572px;
}
#text_h{
font-size: 70px;
font-family: Arial, Helvetica, sans-serif;
animation: 1.5s fade ease-in-out 0s 1 alternate;
}

.btn{
    width: 160px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#gs{
    background-color: #3f86f9;
    animation: 3s fade ease-in-out 0s 1 alternate;
}
#lm{
    background-color: rgba(255, 255, 255, 0);
    border: 1px white solid;
    margin-left: 5px;
    animation: 3.5s fade ease-in-out 0s 1 alternate;
}
#gs:hover{
background-color: black;
}
#lm:hover{
    background-color: #3f86f9;
    border: none;
}
#para-1{
    animation: 2.5s fade ease-in-out 0s 1 alternate;
}

@media (min-width : 100px) {
    html{
        overflow-x: hidden;
        width: 100vw;
    }
}
@media (max-width : 645px) {
    #text_h{
        font-size: 40px;
    }
    #hero-container{
        margin-left: 10px;
    }
    #logo{
        left: -20px;
        width: 150px;
        height: auto;
    }
    #para-1 {
        height: 220px;
        font-size: 17px !important;
        line-height: 27px !important;
    }
    #lm{
        margin-top: 10px;
        margin-left: -0.1px !important;
    }
}
@media (max-width:810px) {
    #nav{
        display: none;
    }
    #fa{
        display:block !important;
        margin-right: 30px;
    }
    #nav_container{
        justify-content: space-between;
    }
}

@keyframes fade {
    0%{

            opacity: 0%;
            position: relative;
            top: 500px;
    }

    100%{
            opacity: 100%;
            position: relative;
            top: 0px;
    }
}